@charset "UTF-8";

/*
600 - 768
768 - 992
992 - 1200
1200+


*/


@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient( to top   ,#011C26 ,black);

    }
    section#login{
        width: 80vw;
        height: 310px;


    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;


    }
    section#login > div#formulario{
        float: right;
        width: 65%;
      

    }
    div#formulario > p {
        
        margin: 10px 0px;
    }
    
}
@media screen and (min-width: 992px){ 
    body{
        background-image: linear-gradient( to top   ,#011C26 ,black);
        

    }
    section#login{
        width: 950px;
        height: 340px;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;

    }
    section#login > div#formulario{
        float: left;
        width: 45%;
    }
    div#formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }
    
}