@charset "UTF-8";


/* Paleta de cores 
vermlara - #A32E17
marrom - #3D2E21-#271d15
laranja - #D66709
 


*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: #271d15;

}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
   
    
}
section#login{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 515px;
    
    top: 50%;
    left: 50%;
    
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 5px black;
    transition: width .4s, heigth .4s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
   
}
section#login > div#imagem{
    display: block;
    background: #3D2E21 url(../imgs/predio.jpg);
    background-size: cover;
    background-position: left bottom;
   
  
    height: 200px;

}

section#login > div#formulario{
    float: left;
    padding: 10px;
}
form > input[type=submit]{
    color: white;
    background-color:   #011C26;
    display: block;
    width: 100%;
    font-size: 1em;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
div.campo{
    background-color: #011C26;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 8px 0px;
    border:1px solid #011c26 ;
    

}
div.campo > label >span{
   color: rgb(0, 0, 0);
   
   font-size: 2em;
   width: 40px;
   padding: 5px;
   padding-left: 10px;

}
div.campo > input{
    background-color: #023649;
    font-size: 1em;
    width: calc(100% - 80px);
    height: 75%;
    border-radius: 8px;
    padding: 4px;
    padding-right: 13px;
    
    transform: translateY(-10px);
}
div.campo > input:hover{

    background-color: white;
}
form > input[type=submit]:hover{
    background-color: #044f6b;


}
form  a.botao{
    text-align: center;
    display: block;
    color: #011C26;
    font-size: 1em;
    text-decoration: none;
    border: 1px solid #011C26;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-top: 5px;
    padding-top: 5px;
    
    

}
form a.botao:hover{
    background-color: #022c3b;
    color: white;
}
form > a.botao > span{
    font-size: 0.8em;

}

form > div.campo{



}